@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  width: 100%;
  font-size: 1.2rem;
}

.nav-container a{
  color: black;
  text-decoration: none;
}

.main-container{
  width: 100vw;
  height: 100vh;
}

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  height: 100%;
  width: 100%;
}

.home-container a{
  background-color:#0dcaf0;
  padding: 0.6rem ;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 15px;
  color: white;
}

.home-container a:hover{
  background-color: #8ae3f5;
  color: black;
}

.inventory-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.inventory-container .add-grocery-link{
  font-size: 1.3rem;
  text-decoration: none;
  background-color: #0dcaf0;
  color: white;
  margin: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.basket-container{
  border: 1px solid black;
  padding: 0.5rem;
}

.basket-container .btns-container{
  display: flex;
  justify-content: space-evenly;
}

.basket-container .btns-container button{
  padding: 0 0.5rem 0 0.5rem ;
  border: none;
  border-radius: 5px;
}

.add-grcoery-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;
  width: 100%;
}

.add-grcoery-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-end;
}

.add-grcoery-container button{
  font-size: 1.2rem;
  padding: 0 0.5rem 0 0.5rem;
}


.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.badges-container{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  
  font-size: 1.4rem;
}

.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.credit-container{
  margin-top: 1rem;
}

.credit-container img{
  height: 25px;
  width: 25px;
}